{% extends "base.html" %}
{% load staticfiles %}
{% block primary %}
<div class="container home-container myborder">
    <section id="header" xmlns="http://www.w3.org/1999/html">
        <div class="container home-container">
            <h1>Reds Games</h1>
            {% for data in reds_data.data %}
            <div class="col-lg-11">
                <div class="progress progress-bar-height">
                    <div class="progress-bar progress-bar-success" style="width: {{ data.perc_won }}%">
                    {{ data.won }}
                    </div>
                    <div class="progress-bar progress-bar-neutral" style="width: {{ data.perc_left}}%">
                    {{ data.games_left }}
                    </div>
                    <div class="progress-bar progress-bar-danger" style="width: {{ data.perc_lost }}%">
                    {{ data.lost }}
                    </div>
                    <div class="progress-bar-height progress-bar-milestone" style="background: green;
                        left: {{ data.currwinrate }}%; " title="{{ data.wins_proj }} projected wins ">
                    </div>
                </div>
                Current Record {{ data.won }}-{{ data.lost }} | Current win rate {{ data.currwinrate }}% | Projected Wins {{ data.wins_proj }}<br>
            </div>
            {% endfor %}
        </div>
    </section>
    <hr>
    <section id="header">
        <h1>Player Standings</h1>
        <small>Yellow bar is your guess | Green bar is the projection |
            Score is the difference | Low score wins!</small>
    </section>
    <section id="players">
        <div class="container home-container">
            {% for playa in all_players.players|dictsort:"score"|dictsort:"out" %}
            <div class="col-lg-11 col-md-12 col-sm-12 col-xs-12 staff-profile vcenter">
                <hr>
                <div class="row">
                    {% for data in reds_data.data %}
                        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-7 vcenter text-center image-container">
                            {% with 'img/Profiles/'|add:playa.name|add:'.jpg' as profimage %}
                                <img class="img-rounded" src="{% static profimage %}">
                            {% endwith %}
                            <h3>Score : {{ playa.score }}</h3>
                            {% if data.won > playa.lower_limit or data.wins_potential < playa.upper_limit%}
                                <div class="after">
                                    <img src="{% static 'img/gone.png' %}">
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 vcenter text-center myborder">
                            <br>
                            <h4>{{ playa.name }}</h4>
                            <hr>
                            <h1>{{ playa.guess }}</h1>
                            <br>
                        </div>
                        <div class="col-lg-7 col-md-6 col-sm-6 col-xs-12 vcenter">
                            <div class="progress progress-bar-height">
                                <div class="progress-bar progress-bar-success" style="width: {{ data.perc_won }}%"
                                        title="{{ data.won }} Wins"></div>
                                <div class="progress-bar progress-bar-neutral" style="width: {{ data.perc_left}}%"
                                        title="{{ data.games_left }} Left"></div>
                                <div class="progress-bar progress-bar-danger" style="width: {{ data.perc_lost }}%"
                                        title="{{ data.lost }} Lost"></div>
                                <div class="progress-bar-height progress-bar-milestone" style="background: green;
                                        left: {{ data.currwinrate }}%; " title="{{ data.wins_proj }} projected wins ">
                                </div>
                                <div class="progress-bar-height progress-bar-milestone" style="background: orange;
                                        left: {{ playa.perc_guess }}%; " title="Guess: {{ playa.guess }}">
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</div>
{%  endblock %}
