{% extends "base.html" %}
{% block primary %}
<section id="header">
    <div class="container home-container">
        <h1>Reds Games</h1>
        {% for data in reds_data %}
            <div class="progress">
                <!-- Multiple progress bars within a single div with class progress -->
                <div class="progress-bar progress-bar-success" style="width: {{ data.perc_won }}%">
                    {{ data.won }}
                </div>
                <div class="progress-bar progress-bar-neutral" style="width: {{ data.perc_left}}%">
                    {{ data.games_left }}
                </div>
                <div class="progress-bar progress-bar-danger" style="width: {{ data.perc_lost }}%">
                    {{ data.lost }}
                </div>
            </div>
        {% endfor %}
    </div>
</section>
<section id="header">
    <h1>Player Standings</h1>
</section>
<section id="players">
    <div class="container home-container">
        {% for Playa in all_players %}
        <div class="col-lg-12 col-md-10 staff-profile">
            <div class="row">
                <div class="col-md-3">
                    <img class="img-rounded" src="http://loremflickr.com/200/200/face/all">
                </div>
                <div class="col-md-2">
                    <h3>{{ Playa.Name }}</h3>
                    <h1>{{ Playa.Guess }}</h1>
                </div>
                <div class="col-md-6">
                    {% for data in reds_data %}
                        <div class="progress">
                            <!-- Multiple progress bars within a single div with class progress -->
                            <div class="progress-bar progress-bar-success" style="width: {{ data.perc_won }}%">
                                {{ data.won }}
                            </div>
                            <div class="progress-bar progress-bar-neutral" style="width: {{ data.perc_left }}%">
                                {{ data.games_left }}
                            </div>
                            <div class="progress-bar progress-bar-danger" style="width: {{ data.perc_lost }}%">
                                {{ data.lost }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <hr>
        </div>
        {% endfor %}
    </div>
</section>
{%  endblock %}

