header.intro-header {
    background-image: url('/static/img/GABP.jpg');
    background-size: cover;
    text-align: center;
    margin-bottom: 0px;
    box-shadow: inset 0px 0px 0 2000px rgba(0,0,0,0.2);
}

hr {
    border-color: black;
}

hr.small {
    max-width:400px;
}

hr.large {
    max-width:800px;
}

div.home-container{
    background-color:rgb(255,255,255);
    padding-top:10px;
    border:2px solid red;
}

section#header {
    text-align: center;
    padding: 2px;
}

div.myborder {
    border:2px solid purple
}