html, body, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}

h1, h2, .navbar-custom {
    font-family: 'Lora', serif;
}

.navbar-custom .nav li a {
    font-size: 20px;
}

body {
    background-color: whitesmoke;
}

h1 {
    font-size: 50px;
}

footer {
    background-color: white;
}

hr {
    border-color: black;
}

header.intro-header {
    background-image: url('/static/img/GABP.jpg');
    background-size: cover;
    text-align: center;
    margin-bottom: 0px;
    box-shadow: inset 0px 0px 0 2000px rgba(0,0,0,0.2);
}

hr.small {
    max-width:400px;
}

hr.large {
    max-width:800px;
}

div.home-container{

}

a:hover {
    color: red;
}

section#header {
    text-align: center;
    padding: 2px;
}

.myborder {
    background-color:rgb(255,255,255);
    padding-top:10px;
    border:2px solid red;
}

.progress-bar-height {
    height: 50px;
}

.progress-bar {
    font-size: 32px;
    line-height: 50px;
}

.progress-bar-small {
    font-size: 16px;
    line-height: 50px;
}

.progress-bar-neutral {
  background-color: lightgray;
}

.progress-bar-milestone {
    width: 8px;
    position: absolute;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: red;
}
::selection {
    color: white;
    background: red;
}

.image-container {
    position: relative;
}

.image-container .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    color: #FFF;
}
