body {
    background-color: whitesmoke;
}

h1{
    font-size: 50px;
}

footer {
    background-color: white;
}

header.intro-header {
    background-image: url('/static/img/GABP.jpg');
    background-size: cover;
    text-align: center;
    margin-bottom: 0px;
    box-shadow: inset 0px 0px 0 2000px rgba(0,0,0,0.2);
}

hr {
    border-color: black;
}

hr.small {
    max-width:400px;
}

hr.large {
    max-width:800px;
}

div.home-container{

}

section#header {
    text-align: center;
    padding: 2px;
}

.myborder {
    background-color:rgb(255,255,255);
    padding-top:10px;
    border:2px solid red;
}

.progress-bar-height {
    height: 50px;
}

.progress-bar {
    font-size: 32px;
    line-height: 50px;
}

.progress-bar-small {
    font-size: 16px;
    line-height: 50px;
}

.progress-bar-neutral {
  background-color: lightgray;
}

.progress-bar-milestone {
    width: 8px;
    position: absolute;
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: red;
}
::selection {
    color: white;
    background: red;
}

a:hover {
    color: red;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

